      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="list-card" style="background-image: linear-gradient(to bottom,rgba(20,20,20, 0.8),rgba(76,76,76,0.2) 30%), url('<%= cl_image_path @list.photo %>')">
        </div>

        <div class="list-title">
          <h2> <%= @list.name %> </h2>
        </div>

        <div class="list-hashtags">
          <p><% @listtags.each do |l| %>
            <%= l.tag.name %>
          <% end %>
          </p>
        </div>

        <div class="list-avatar">
          <img class="avatar" src="" alt="">
        </div>

        <div class="follow-btn btn btn-success">
          Click me
        </div>

        <div class="list-description">
        <p><%= @list.description %> </p>
        </div>
      </div>
