<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3>Add your new list</h3>
      <%= render 'form', list: @list %>
      <h3>MISSING TAGS IN FORM</h3>
    </div>
  </div>
</div>
