// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$my-green: #62A87C;
$my-light-green: #A6F589;
$my-blue: #628EA8;
$my-gray: #3C3C3C;
$my-light-gray: #6F6F6F;
$my-background: #f7f7f7;

