<div class="message">
  <img class="avatar-md" src="<%= cl_image_path comment.user.photo %>">
  <div class="message-body">
  <span><strong><%= comment.user.first_name %></strong>
  <br>
  <%= comment.description %>
  </span>
  </div>
</div>
