



// .container-profile {
//   max-width: 93.5rem;
//   margin: 0 auto;
//   padding: 0 2rem;

// }

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 20px;
}

.avatar {
  margin: 20px;
}

img {
  height: 15px;
  margin-bottom: 3px;
}

.profile-stat-count {
  color: $my-green;
  font-weight: bold;
}

