.container-cards {
  max-width: none;
  width: 100%;
  margin: 0 auto -50px; /* footer height + space */
  padding: 0 0 50px; /* footer height + space */

}

.col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: $my-gray;
}

p {
  color: $my-light-gray;
}
