<div class="footer">
  <div class="footer-links">
    <div><a href="#"><i class="fas fa-home"></i></a></div>
    <div><a href="#"><i class="fas fa-users"></i></a></div>
    <div><a href="#"><i class="far fa-plus-square"></i></a></div>
    <div><a href="#"><i class="fas fa-user-alt"></i></a></div>
  </div>
</div>
