<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <p><%= link_to "Add List", new_list_path%></p>
      <p><%= link_to "Add Item to List", new_item_path%></p>
    </div>
  </div>
</div>
