<div id="myModal" class="modal-w">
  <div class="modal-content-w">
    <div class="modal-header-w">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body-w">
      <p><%= link_to "Add List", new_list_path%></p>
      <p><%= link_to "Add Item to List", new_item_path%></p>
    </div>
  </div>
</div>
