<div class="friends">
  <h2>Your friends</h2>
  <div class="row">
    <% @friends.each do |f| %>
      <div class="item">
        <div class="col-xs-12">
          <div class="avatar" style="background-image: linear-gradient(to bottom,rgba(20,20,20, 0.8),rgba(76,76,76,0.2) 30%), url('<%= cl_image_path f.photo %>')">
            <div>
        <p><%= f.first_name %> <%= f.last_name %></p>
        </div>

    </div>
  </div>
  <% end %>
</div>
