
<div class="user-profile">
  <h2><%= @user.first_name  %> <%= @user.last_name%></h2>
</div>

  <div class="list-avatar">
    <img class="avatar" src="" alt="">
  </div>
  <div class= "list-count">
    <img class="logo" src="" alt="">
  <div class="list-check-icon">
    <i class="fas fa-check-square">
      Done that count here
    </i>
  </div>
  <div class="list-bookmark-icon">
    <i class="fas fa-bookmark">
      Bucket List
    </i>
  </div>

  <div class="list-card" style="">
  </div>

  <div class="list-title">
    <h2></h2>
  </div>
