
<div class="container-profile">

    <div class="profile">
      <div class="profile-photo">
      <div class="avatar" style="background-image: linear-gradient(to bottom,rgba(20,20,20, 0.8),rgba(76,76,76,0.2) 30%), url('<%= cl_image_path @user.photo %>')">
      </div>
      </div>

      <div class="profile-user-settings">
        <h4><%= @user.first_name  %> <%= @user.last_name%></h4>
      </div>

      <div class="profile-stats">
        <ul class="list-inline">
          <li><span class="profile-stat-count">3</span> Re:Co's</li>
          <li><span class="profile-stat-count">7</span> Done that</li>
          <li><span class="profile-stat-count">12</span> Bucket List</li>
        </ul>
      </div>
      <div>



      </div>
  </div>
  <!-- End of container -->

