<div class="item-icons">

  <div class="list-check-icon">
    <%= link_to list_item_likes_path(item.list, item), method: :post do %>
    <i class="fas fa-check-square <%= current_user.liked_item?(item.id) ? 'item-icons active-green' : 'item-icons inactive-gray' %>"></i>
    <% end %>
  </div>
  <div class="list-comment-icon">
   <i class="far fa-comment"></i>
  </div>
  <div class="list-bookmark-icon">
   <i class="fas fa-bookmark"></i>
  </div>
</div>
