<div class="item-icons">
  <div class="list-check-icon">
   <i class="fas fa-check-square"></i>
  </div>
  <div class="list-comment-icon">
   <i class="far fa-comment"></i>
  </div>
  <div class="list-bookmark-icon">
   <i class="fas fa-bookmark"></i>
  </div>
</div>
