.friends {
  padding-left: 15px;
  h4 {
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: left;
  }
}
.friend {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.friend-body {
  padding: 0px 10px 0px 20px;
  text-align: left;
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

.friend .avatar {
  margin: 0px;
  width: 70px;
  height: 70px;

}
