.friends {
  padding: 0px 15px;
  h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left;
  }
}
.friend {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.friend-body {
  padding-left: 12px;
  text-align: left;
  min-width: 50vw;
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  img {
    height: 15px;
    margin-bottom: 3px;
  }
}

.friend .avatar {
  margin: 0px;
  width: 70px;
  height: 70px;
}

.see-profile {
  text-align: right;
  margin-left: 10px;
}
