.list {
  margin: 20px;
  // height: 250px;
  background: white;
  border-radius: 4px;
  box-shadow:  0 1px 7px rgba(0,0,0,.05);
  height: auto;
  padding: 10px 20px;
}

.list h2 {
  margin: 0px;
}

.list-card {
  margin: 20px;
  background: white;
  border-radius: 4px;
  box-shadow:  0 1px 7px rgba(0,0,0,.05);
  height: 200px;
  background-position: center;
  background-size: cover !important;
  width:100%;
}

.container-cards {
  padding: 0;
  margin: 0;
}
