.list-header {
  background: white;
  border-radius: 4px;
  box-shadow:  0 1px 7px rgba(0,0,0,.05);
  height: auto;
  position: relative;
}

.list-title {
 display: flex;
 align-items: top;
 a {
  margin-left: 10px;
 }
}

.list-title h3 {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: bold;
  min-width: 75%;
}

.follow-btn-container {
  display: inline-block;
}

.follow-btn {
  background-color: white;
  color: $my-green;
  border: solid 1px $my-green;
  font-size: 12px;
  padding: 10px;
  line-height: 5px;
  border-radius: 5px;
}

.unfollow-btn {
  background-color: $my-green;
  color: white;
  font-size: 12px;
  padding: 10px;
  line-height: 5px;
  border-radius: 5px;
}

.avatar-position {
  position: absolute;
  top: 145px;
  right: 7px;
}

.list-hashtags p {
  font-size: 13px;
  color: $my-green;
  margin: 12px 0px;
}

.list-banner {
  background: white;
  box-shadow:  0 1px 7px rgba(0,0,0,.05);
  height: 200px;
  background-position: center;
  background-size: cover !important;
  width:100%;
}

.text-icon-lockup {
  display: flex;
  justify-content: space-around;
}

.list-icon-lockup div {
  display: inline;
}

// .list-icon-lockup {
//   display: flex;
//   justify-content: space-around;
//   width: 100%;
// }

.list-text-lockup {
  padding: 15px;
  text-align: left;
  width: 100%;
}



